@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "VT323", monospace;
    color: white;
    font-weight: 200;
    text-decoration: none;
}

.main-container {
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

body {
    min-height: 100vh;
    background-color: #262626;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 100px;
    background: #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    position: relative;
    font-size: 29px;
    color: rgb(181, 232, 83);
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #b5e853;
    transition: 0.5s;
}

.navbar a:hover::before {
    width: 100%;
}

.logo {
    font-size: 50px;
    font-weight: 300;
    padding: 15px;
    background: #FFFFFF;
    background: linear-gradient(to right, #FFFFFF 0%, #B5E853 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mainsec{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 10px;
    flex-direction: column;
}
.mainsec h1 {
    font-size: 50px;
}
.mainsec p {
    font-size: 22px;
    border: #b5e853 3px solid;
    text-align: center;
    padding: 10px;
    margin: 20px 30px;
    cursor: pointer;
    border-radius: 10px;
}
.mainsec div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

/* Global */
.line-1{
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 1s steps(16) 1s 1 normal both,
             blinkTextCursor 1s steps(16) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 20rem;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}